@import '../../variables/variables.scss';

.body{
    background:$purple-dark;
}

.profileLayout{
    background: $purple-dark;
    display: flex;

}

.profileLayout_sidebar {
    display: none;

}

.profileLayout_sidebar.open{
    display: initial;
}

.profileLayout_content{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-between;
    width: 100%;
    padding-top: calc(4% + 75px);
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 5em;
    margin: 0;
}
.profileLayout_content-feed{
    width: 100%;
    order: 2;
}

.profileLayout_content-profile{
    width: 100%;
    order: 1;
}

@include for-desktop{

    .profileLayout_content-feed{
        width: 50%;
        order: 1;
    }
    .profileLayout_content-profile{
        width: 45%;
        order: 2;
    }

        .profileLayout_sidebar{
    display: initial;
        }
    .profileLayout_content{
        padding-left: 280px;
        flex-direction: row;
    }
    .profileLayout_content_feed{
        width: 50%;
    }
}